.app{
  background-image: url(./assets/bg.jpg);
  background-size: cover;
}

.backdrop-custom{
  backdrop-filter: blur(5px) ;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin-top: 5px; /* Optional: You can adjust the margin if needed */
}